In [ ]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)
import pandas as pd

Mounted at /content/gdrive

In [ ]:
df = pd.read_excel('gdrive/My Drive/CHE334/CHE334.xlsx')
print(df)

   Experiment 1  Tin (hot)  Tout (hot)  Tin (cold)  Tout (cold)  V (hot)  \
0           1.0       37.0        34.1        23.1         25.4    374.9
1           1.0       43.2        38.3        22.5         25.8    287.5
2           1.0       45.0        39.3        22.3         26.0    287.5
3           1.0       43.5        38.7        22.4         25.9    287.0
4           NaN        NaN         NaN         NaN          NaN      NaN
5           2.0       34.3        32.0        24.4         25.8    337.5
6           2.0       38.5        33.8        24.0         26.3    302.0
7           2.0       39.1        35.9        23.8         26.5    302.0
8           2.0       40.2        36.3        24.1         26.6    324.9

   V (cold)   time
0     274.9  16.33
1     252.0  12.15
2     260.0  13.08
3     258.0  13.16
4       NaN    NaN
5     312.5  15.43
6     274.5  13.40
7     274.5  13.20
8     302.0  14.23

In [ ]:
Experiment1 = df[df["Experiment 1"] == 1]
Tinhot1 = Experiment1["Tin (hot)"] +273.15 #K
Touthot1 = Experiment1["Tout (hot)"] +273.15 #K
Tincold1 = Experiment1["Tin (cold)"] +273.15 #K
Toutcold1 = Experiment1["Tout (cold)"] +273.15#K
Vhot1 = Experiment1["V (hot)"] #mL
Vcold1 = Experiment1["V (cold)"] #mL
time1 = Experiment1["time"]

Vflowhot1 = Vhot1/time1
Vflowcold1 = Vcold1/time1

Vflowhot1 = Vflowhot1.mean() #mL/s
Vflowcold1 = Vflowcold1.mean() #mL/s

ΔThot1 = Touthot1-Tinhot1 #K
ΔTcold1 = Toutcold1-Tincold1 #K

ΔThot1 = ΔThot1.mean()#K
ΔTcold1 = ΔTcold1.mean() #K

In [ ]:
Experiment2 = df[df["Experiment 1"] == 2]
Tinhot2 = Experiment2["Tin (hot)"]+273.15 #K
Touthot2 = Experiment2["Tout (hot)"]+273.15#K
Tincold2 = Experiment2["Tin (cold)"]+273.15#K
Toutcold2 = Experiment2["Tout (cold)"]+273.15#K
Vhot2 = Experiment2["V (hot)"] #mL
Vcold2 = Experiment2["V (cold)"] #mL
time2 = Experiment2["time"] #s

Vflowhot2 = Vhot2/time2
Vflowcold2 = Vcold2/time2

Vflowhot2 = Vflowhot2.mean() #mL/s
Vflowcold2 = Vflowcold2.mean() #mL/s

ΔThot2 = Touthot2-Tinhot2 #K
ΔTcold2 = Toutcold2-Tincold2 #K

ΔThot2 = ΔThot2.mean()#K
ΔTcold2 = ΔTcold2.mean() #K

data = {
    "Experiment #": [1,2],
    "Inlet temperature for hot stream (°C)": [Experiment1["Tin (hot)"].mean(),Experiment2["Tin (hot)"].mean()],
    "Outlet temperature for hot stream (°C)": [Experiment1["Tout (hot)"].mean(),Experiment2["Tout (hot)"].mean()],
    "Outlet Volume for hot stream (mL)": [Experiment1["V (hot)"].mean(),Experiment2["V (hot)"].mean()],
    "Inlet temperature for cold stream (°C)": [Experiment1["Tin (cold)"].mean(),Experiment2["Tin (cold)"].mean()],
    "Outlet temperature for cold stream (°C)": [Experiment1["Tout (cold)"].mean(),Experiment2["Tout (cold)"].mean()],
    "Outlet Volume for cold stream (mL)": [Experiment1["V (cold)"].mean(),Experiment2["V (cold)"].mean()],
    "Time (s)": [Experiment1["time"].mean(),Experiment2["time"].mean()]
}

t = pd.DataFrame(data)
t = t.style.set_caption(" ").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]}])

t

In [ ]:
data = {
    "Volumetric flow for hot stream (mL/s)": Vflowhot1,
    "Volumetric flow for cold stream (mL/s)": Vflowcold1,
    "ΔT for hot stream (K)": ΔThot1,
    "ΔT for cold stream (K)": ΔTcold1
}

t = pd.DataFrame(data, index=[0])
t = t.style.set_caption("Experiment 1").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

display(t)

print("")
data = {
    "Volumetric flow for hot stream (mL/s)": Vflowhot2,
    "Volumetric flow for cold stream (mL/s)": Vflowcold2,
    "ΔT for hot stream (K)": ΔThot2,
    "ΔT for cold stream (K)": ΔTcold2
}

t = pd.DataFrame(data, index=[0])
t = t.style.set_caption("Experiment 2").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

t

In [ ]:
#Experiment1
Taveh1 = ((Tinhot1+Touthot1)/2).mean()
Tavec1 = ((Tincold1+Toutcold1)/2).mean()
print(f"For Experiment 1, evaluate heat capacity at the following average temperatures:\n Hot stream: {Taveh1} K\n Cold stream: {Tavec1} K\n")

#Experiment2
Taveh2 = ((Tinhot2+Touthot2)/2).mean()
Tavec2 = ((Tincold2+Toutcold2)/2).mean()
print(f"For Experiment 2, evaluate heat capacity at the following average temperatures:\n Hot stream: {Taveh2} K\n Cold stream: {Tavec2} K\n")

For Experiment 1, evaluate heat capacity at the following average temperatures:
 Hot stream: 313.03749999999997 K
 Cold stream: 297.32499999999993 K

For Experiment 2, evaluate heat capacity at the following average temperatures:
 Hot stream: 309.41249999999997 K
 Cold stream: 298.3375 K

In [ ]:
def linearinterp(x,x1,x2,y1,y2):
  m = (y2-y1)/(x2-x1)
  return m*(x-x1)+y1
#Thermophysical values were evaluated from Welty 5 ed. Appendix I
ρh1 = linearinterp(Taveh1,313,333,992.2,983.2) #kg/m^3
ρh2 = linearinterp(Taveh2,293,313,998.2,992.2) #kg/m^3
ρc1 = linearinterp(Tavec1,293,313,998.2,992.2) #kg/m^3
ρc2 = linearinterp(Tavec2,293,313,998.2,992.2) #kg/m^3

ρ = [ρh1,ρh2,ρc1,ρc2]
V = [flow_rate * 1e-6 for flow_rate in [Vflowhot1,Vflowhot2,Vflowcold1,Vflowcold2]] #m^3/s

cph1 = linearinterp(Taveh1,313,333,4175,4181) #J/(kg*K)
cph2 = linearinterp(Taveh2,293,313,4182,4175) #J/(kg*K)
cpc1 = linearinterp(Tavec1,293,313,4182,4175) #J/(kg*K)
cpc2 = linearinterp(Tavec2,293,313,4182,4175) #J/(kg*K)

cp = [cph1,cph2,cpc1,cpc2]
ΔT = [ΔThot1,ΔThot2,ΔTcold1,ΔTcold2]

Q = []
for i in range(len(V)):
  m = ρ[i]*V[i]
  Qi = m*ΔT[i]*cp[i]
  Q.append(Qi) #W, order:


data = {
    "Experiment #": ["1","2"],
    r"Q hot [W]": [Q[0],Q[1]],
    r"Q cold [W]": [Q[2],Q[3]]
}

t = pd.DataFrame(data)
t = t.style.set_caption("Experiment 2").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

t

In [ ]:
L = 138/1000 # mm * (1 m /1000 mm) = m
Do = 6.35/1000 # mm * (1 m /1000 mm) = m
Di = 4.572/1000 # mm * (1 m /1000 mm) = m
baffl = 2/1000 # mm * (1 m /1000 mm) = m
B = 18/1000 # mm * (1 m /1000 mm) = m
Ws = 10 # mm * (1 m /1000 mm) = m
Hs = 82  # mm * (1 m /1000 mm) = m
hbw = 21 # mm * (1 m /1000 mm) = m
Nt = 2 #tubes per pass
Np = 2 #tube passes

# thermal conductivity from https://www.engineeringtoolbox.com/thermal-conductivity-plastics-d_1786.html
ko = .50 #assuming shell is made of high density polyethylene
# thermal conductivity from Welty 5 ed. Appendix H
ki = 42.9 #assuming tube is made of mild steel

In [ ]:
#Thermophysical values were evaluated from Welty 5 ed. Appendix I
import numpy as np
μh1 = linearinterp(Taveh1,313,333,658*10**-6,472*10**-6) #Pa*s
μh2 = linearinterp(Taveh2,293,313,993*10**-6,658*10**-6) #Pa*s
μc1 = linearinterp(Tavec1,293,313,993*10**-6,658*10**-6) #Pa*s
μc2 = linearinterp(Tavec2,293,313,993*10**-6,658*10**-6) #Pa*s

μ = [μh1,μh2,μc1,μc2]

Prh1 = linearinterp(Taveh1,313,333,4.33,3.00)
Prh2 = linearinterp(Taveh2,293,313,6.96,4.33)
Prc1 = linearinterp(Tavec1,293,313,6.96,4.33)
Prc2 = linearinterp(Tavec2,293,313,6.96,4.33)
Prhot = np.array([Prh1,Prh2])
Prcold = np.array([Prc1,Prc2])

kh1 = linearinterp(Taveh1,313,333,.633,.658) #W/(m*K)
kh2 = linearinterp(Taveh2,293,313,.597,.633) #W/(m*K)
kc1 = linearinterp(Tavec1,293,313,.597,.633) #W/(m*K)
kc2 = linearinterp(Tavec2,293,313,.597,.633) #W/(m*K)
khot = np.array([kh1,kh2])
kcold = np.array([kc1,kc2])

In [ ]:
#tube side = hot stream, heat transfer
Vhot = np.array([V[0],V[1]]) #Experiment 1,2
A = np.pi*(Di**2)/4
vbarhot = Vhot/(A*Nt)
ρhot = np.array([ρ[0],ρ[1]]) #Experiment 1,2
μhot = np.array([μ[0],μ[1]]) #Experiment 1,2
Rehot = ρhot*vbarhot*Di/μhot

Nuhot= .023*(Rehot**.8)*(Prhot**(1/3))
hhot = ki*Nuhot/Di


data = {
    "Experiment #": ["1","2"],
    r"Velocity [m/s]": [vbarhot[0],vbarhot[1]],
    r"Re": [Rehot[0],Rehot[1]],
    r"h [W/(m^2*K)]": [hhot[0],hhot[1]]
}

t = pd.DataFrame(data)
t = t.style.set_caption("Tube-side").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

t

In [ ]:
#shell side = cold stream, heat transfer
Ac = B*(Ws-Do)
Ab = (hbw*Ws)-(np.pi*(Do**2)/4)

Vcold = np.array([V[2],V[3]]) #Experiment 1,2
ρcold = np.array([ρ[2],ρ[3]]) #Experiment 1,2
mcold = Vcold*ρcold

Gc = mcold/Ac
Gb = mcold/Ab
Gavg = np.sqrt(Gc*Gb)



μcold = np.array([μ[2],μ[3]]) #Experiment 1,2
Recold = Gavg*Do/μcold

Nucold = .2*(Recold**.6)*(Prcold**(1/3))
hcold = ko*Nucold/Do


data = {
    "Experiment #": ["1","2"],
    r"Gavg [m/s]": [Gavg[0],Gavg[1]],
    r"Re": [Recold[0],Recold[1]],
    r"h [W/(m^2*K)]": [hcold[0],hcold[1]]
}

t = pd.DataFrame(data)
t = t.style.set_caption("Shell-side").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

t

In [ ]:
Thin = np.array([Tinhot1.mean(),Tinhot2.mean()]) #K
Thout = np.array([Touthot1.mean(),Touthot2.mean()]) #K
Tcin = np.array([Tincold1.mean(),Tincold2.mean()]) #K
Tcout = np.array([Toutcold1.mean(),Toutcold2.mean()]) #K
ΔTLMTDnum = (Thin-Tcout)-(Thout-Tcin)
ΔTLMTDdenom = np.log((Thin-Tcout)/(Thout-Tcin))
ΔTLMTD = ΔTLMTDnum/ΔTLMTDdenom

Ao = (np.pi*Do*L)*Nt*Np
Ai = (np.pi*Di*L)*Nt*Np

data = {
    "Experiment #": ["1","2"],
    r"ΔTLMTD [K]": [ΔTLMTD[0],ΔTLMTD[1]],
    r"Ao [m^2]": [Ao, " "],
    r"Ai [m^2]": [Ai," "]
}

t = pd.DataFrame(data)
t = t.style.set_caption("Shell-side").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

t

In [ ]:
Rnum = Thin - Thout
Rdenom = Tcout - Tcin
R = Rnum/Rdenom
P = Rdenom/(Thin-Tcin)
print(f"R-values to evaluate correction factor, F:\n Experiment 1: {R[0]}\n Experiment 2: {R[1]}\n")
print(f"P-values to evaluate correction factor, F:\n Experiment 1: {P[0]}\n Experiment 2: {P[1]}")

R-values to evaluate correction factor, F:
 Experiment 1: 1.4296875000000016
 Experiment 2: 1.584269662921322

P-values to evaluate correction factor, F:
 Experiment 1: 0.16326530612244822
 Experiment 2: 0.15949820788530641

In [ ]:
F = 1
Qh = np.array([Q[0],Q[1]])
UAexp = Qh/(ΔTLMTD*F)
k = ki
UAtheoryinv = (1/(hcold*Ao))+(np.log(Do/Di)/(2*np.pi*k*L)) + (1/(hhot*Ai))
UAtheory = (UAtheoryinv)**-1

data = {
    "Experiment #": ["1","2"],
    r"(UA)theory [W/K]": [UAtheory[0],UAtheory[1]],
    r"(UA)exp [W/K]": [UAexp[0],UAexp[1]]
}

t = pd.DataFrame(data)
t = t.style.set_caption(" ").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

t

In [ ]:
Qhpred = UAtheory*ΔTLMTD*F
Qc = np.array([Q[2],Q[3]])
Qhmeas = (Qh+Qc)/2

data = {
    "Experiment #": ["1","2"],
    r"Qh,predicted [W]": [Qhpred[0],Qhpred[1]],
    r"Qh,measured [W]": [Qhmeas[0],Qhmeas[1]]
}

t = pd.DataFrame(data)
t = t.style.set_caption(" ").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-weight', 'bold')
    ]
}, {
    'selector': 'th',
    'props': [
        ('border', '1px solid black')
    ]
}, {
    'selector': 'td',
    'props': [
        ('border', '1px solid black')
    ]
}])

t